<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Variable </th>
                    <th> Pipe </th>
                    <th> Resultado </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre | slice:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{nombre | slice:0:3}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo | slice:1:5}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI | number}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'1.0-0'</td>
                    <td>{{PI | number:'1.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'1.0-1'</td>
                    <td>{{PI | number:'1.0-1'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'1.0-2'</td>
                    <td>{{PI | number:'1.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'3.0-0'</td>
                    <td>{{PI | number:'3.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'3.0-2'</td>
                    <td>{{PI | number:'3.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'.0-2'</td>
                    <td>{{PI | number:'.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje | percent}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{porcentaje | percent:'2.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario | currency}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'EUR'</td>
                    <td>{{salario | currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'symbol'</td>
                    <td>{{salario | currency:'CAD':'symbol'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'symbol-narrow'</td>
                    <td>{{salario | currency:'CAD':'symbol-narrow'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'code'</td>
                    <td>{{salario | currency:'CAD':'code'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'symbol':'2.1-1'</td>
                    <td>{{salario | currency:'CAD':'symbol':'2.1-1'}}</td>
                </tr>
                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>async</td>
                    <td>{{valorPromesa | async}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha | date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'medium'</td>
                    <td>{{fecha | date:'medium'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'short'</td>
                    <td>{{fecha | date:'short'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'MMMM - dd'</td>
                    <td>{{fecha | date:'MMMM - dd'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>
                        date:'MMMM - dd':'':'{{ idioma }}'
                        <br>
                        <br>
                        <button class="mr-1 btn btn-primary" (click)="cambiarIdioma()">Español</button>
                        <button class="mr-1 btn btn-secondary" (click)="cambiarIdioma()">Inglés</button>
                        <button class="mr-1 btn btn-success" (click)="cambiarIdioma()">Francés</button>
                        <br>
                        <!-- 2ª opción -->
                        <button class="mr-1 mt-1 btn btn-primary" (click)="idioma='es'">Español</button>
                        <button class="mr-1 mt-1 btn btn-secondary" (click)="idioma='en'">Inglés</button>
                        <button class="mr-1 mt-1 btn btn-success" (click)="idioma='fr'">Francés</button>
                    </td>
                    <td>{{fecha | date:'MMMM - dd':'':idioma }}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>capitalizado <small>pipe personalizado</small></td>
                    <td>{{nombre | capitalizado}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>capitalizado:true <small>pipe personalizado</small></td>
                    <td>{{nombre | capitalizado:true}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>capitalizado:false <small>pipe personalizado</small></td>
                    <td>{{nombre | capitalizado:false}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>contrasena:{{activar}} <small>pipe personalizado</small>
                        <br>
                        <button class="btn btn-outline-primary" (click)='activarDesactivar()'>Activar/desactivar</button>
                    </td>
                    <td>{{nombre | contrasena:activar}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo | slice:5:20">
                {{item}}
            </li>
        </ul>
        <hr>

        <h4>JSON </h4>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>{{ heroe | json }}</pre>
            </div>
        </div>
        <hr>

        <h4>DOM seguro </h4>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>